body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

.wrapper {
  max-width: 1024px;
  margin: 50px auto;
  border: solid 1px red;
}

h1 {
  text-align: center;
  font-size: 42px;
}

h2 {
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  color: #2a6b43;
}

section {
  text-align: center;
  font-size: 20px;
  color: rgb(49, 8, 8);
  margin: 30px 10px 10px 10px;
}

.personal-info table {
  max-width: 90%;
  text-align: left;
}

.personal-info table td {
  padding: 0 20px;
}

.education table,
.personal-info table {
  text-align: left;
  width: 100%;
}

.education table th {
  padding: 15px 10px;
  font-size: 22px;
}

.education table td {
  padding: 5px 20px;
}

.personal-qualities ul {
  list-style-type: circle;
  text-align: left;
}

.skills table {
  text-align: left;
}

.skills table td {
  padding: 5px 10px;
}
